<div>
  <h1>Add new activity</h1>

  <form class="form" [formGroup]="activityForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Distance</mat-label>
      <input
        type="number"
        formControlName="distance"
        matInput
        placeholder="0"
        name="distance"
      />

      <mat-error *ngIf="activityForm.controls['distance'].errors?.['required']">
        Distance is required.
      </mat-error>
      <mat-error *ngIf="activityForm.controls['distance'].errors?.['pattern']">
        Distance must be a positive number.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Avg speed</mat-label>
      <input
        type="number"
        formControlName="avgSpeed"
        matInput
        placeholder="0"
        name="avgSpeed"
      />
      <mat-error *ngIf="activityForm.controls['avgSpeed'].errors?.['required']">
        Avg speed is required.
      </mat-error>
      <mat-error *ngIf="activityForm.controls['avgSpeed'].errors?.['pattern']">
        Avg speed must be a positive number.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Burned kcal</mat-label>
      <input
        type="number"
        matInput
        formControlName="kcalBurned"
        placeholder="0"
        name="kcalBurned"
      />
      <mat-error
        *ngIf="activityForm.controls['kcalBurned'].errors?.['required']"
      >
        Burned kcal is required.
      </mat-error>
      <mat-error
        *ngIf="activityForm.controls['kcalBurned'].errors?.['pattern']"
      >
        Burned kcal must be a positive number.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Start time</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        placeholder="Pick start time"
        name="start"
        formControlName="start"
      />
      <mat-error *ngIf="activityForm.controls['start'].errors?.['required']">
        Start date is required.
      </mat-error>
      <mat-error *ngIf="activityForm.controls['start'].errors?.['beforeToday']">
        Start date must be in a past.
      </mat-error>
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(picker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #picker
        [showSpinners]="true"
        [showSeconds]="true"
        [stepHour]="1"
        [stepMinute]="1"
        [stepSecond]="1"
        [touchUi]="false"
        [enableMeridian]="false"
        [disableMinute]="false"
        [hideTime]="false"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Finish time</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="finishPicker"
        placeholder="Pick finish time"
        name="finish"
        formControlName="finish"
      />
      <mat-error *ngIf="activityForm.controls['finish'].errors?.['required']">
        Finish date is required.
      </mat-error>
      <mat-error
        *ngIf="activityForm.controls['finish'].errors?.['beforeToday']"
      >
        Finish date must be in a past.
      </mat-error>
      <mat-datepicker-toggle
        matSuffix
        [for]="$any(finishPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #finishPicker
        [showSpinners]="true"
        [showSeconds]="true"
        [stepHour]="1"
        [stepMinute]="1"
        [stepSecond]="1"
        [touchUi]="false"
        [enableMeridian]="false"
        [disableMinute]="false"
        [hideTime]="false"
      >
      </ngx-mat-datetime-picker>
    </mat-form-field>
    <br />
    <button type="submit" mat-raised-button color="primary">Submit</button>
    <br />
    <button type="button" mat-raised-button color="primary" (click)="undo()">
      Undo
    </button>
  </form>
</div>
