.average-details {
  margin: 100px 0 100px 0;
  p {
    font-weight: 600;
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    color: rgb(51, 51, 161);
  }
  .info-wraper {
    color: rgb(36, 36, 136);
    margin: 20px;
    font-weight: 300;
    font-size: large;
  }
}

.mat-tab-body-content {
  font-size: 30px;
  line-height: 1;
}
