div {
  text-align: center;
  margin-top: 30px;
  h1 {
    color: rgb(56, 56, 173);
    font-weight: 900;
    font-size: 90px;
  }
  h2 {
    color: rgb(55, 55, 199);
    font-weight: 900;
    font-size: 40px;
    margin-top: 30px;
  }
}
